body{
    font-family: 'Sora', sans-serif;   
}
.calendar-container{
    width: 35%;
    margin: auto;
}

.calendar-title-container {
    background-color: #99BDC8;
    height: 70px;
    text-align: right;
}

#month {
    width: 47.5%;
    font-size: 40px;
    font-weight: 900;
    display: inline-block;
    padding-left: 2%;
    margin: 2% 0;
    text-align: left;
}
#year {
    font-weight: 200;
    width: 47.5%;
    font-size: 40px;
    display: inline-block;
    text-align: right;
    padding-right: 2%;
    margin: 2% 0;
}

.navigation-next {
    font-weight: 300;
    width: 47.5%;
    font-size: 40px;
    display: none;
    text-align: right;
    padding-right: 2%;
    margin: 2% 0;
}

.navigation-prev {
    width: 47.5%;
    font-size: 40px;
    font-weight: 300;
    display: none;
    padding-left: 2%;
    margin: 2% 0;
    text-align: left;
}
.list-container{
    display: table;
    width: 100%;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    padding-top: 3%;
}

.cell-day {
    border: 1px #888888 solid;
    padding: 2.5% 0%;
    border-radius: 12px 5px;
    margin: 1%;
}

.cell-sunday{
    background-color: #99BDC8;
}

.cell-month {
    border: 1px #888888 solid;
    font-size: 20px;
    padding: 2.5% 0%;
    border-radius: 12px 5px;
    margin: 1%;
}



